<div id="top" style="position:absolute; top:-150px;"></div>
<mat-card class="card" style="margin-bottom:30px;z-index: 2; max-width: 700px;">
    <img class="cardimg">

  <div style="margin-right:5%; padding-top:10px; padding-left: 20px; flex-grow:1; margin-bottom: 30px; flex: 400px">
    <div>
        <div class="header">Individualna vadba in osebno trenerstvo</div>
        <div style="width: 90%;border-bottom: 2px solid black; margin-bottom: 30px; margin-top:5px;"> </div>
    </div>
    <div class="headertext">
      Če ne želite vaditi v skupini ali želite, da se trener posveti samo vam, smo za vas pripravili tudi
      <span style="color: #e83e8c; font-weight:500">INDIVIDUALNE VADBE Z OSEBNIM TRENERJEM</span>.<br><br>
      V tem primeru se s trenerjem dogovorite za program po vaših željah, s katerim boste dosegli zastavljene cilje. Trener vam bo svetoval in sestavil tako vadbo,
      kot si jo želite, poleg tega bo skrbel za motivacijo in popolnoma pravilno izvedbo vaj. Taka vadba je učinkovitejša in hitreje prinese rezultate.
      <br><br>
      Lahko izberete individualno vadbo ali vadbo v manjši zaprti skupini. <br>Cena individualne vadbe je <span style="color: #e83e8c; font-weight:500">45</span> evrov,
      lahko si izberete tudi paket vadb. Če vadita dva, imate <span style="color: #e83e8c; font-weight:500">30 %</span> popusta,
      če ste trije, popust znaša <span style="color: #e83e8c; font-weight:500">40 %</span>,
      če pa ste v skupini štirje, imate <span style="color: #e83e8c; font-weight:500">50 %</span> popusta na osebo.
   </div>
  </div>

</mat-card>

