:host table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  :host .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  :host .akcije {
      width: 25%;
  }
  :host .mat-form-field-empty.mat-form-field-label {
    color: green;
}
:host .mat-form-field-underline {
    background-color: green;
}

/* input color class */
:host ::ng-deep input.mat-input-element {
    color: white;
  }
  
  /* Border */
  :host .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  /* Font color */
  :host  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    width: 15%;
  }

  :host th {
    background-color: lightgray;
    color:black;
  }

  :host .mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
  :host .mat-cell {
    text-align: center;
    justify-content:center;
  }

  :host ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   :host  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  :host ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }

  :host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
  }

  :host .active{
    color:#e83e8c
  }