<div id="top" style="position:absolute; top:-150px;"></div>
<div class="container">
  <div class="my-overlay" *ngIf="showOverlay">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
  <mat-card class="box" style="width: 100%; max-width: 880px;">
    <div style="line-height: 36px;">
      {{ime}}<a style="padding: 0 1rem;font-size: initial !important;" href='javascript:void(0);' (click)="openEditDialog()">Ponastavi geslo </a>
      <button  class ="float-right" mat-button (click)="odjava()" ><mat-icon style="color: red; cursor: pointer; font-size: 1.35rem; margin-right: 0.4rem;">cancel</mat-icon>ODJAVA</button>
    </div>
    <br>
      <mat-card-header>
        <mat-card-title>PROFIL</mat-card-title>
      </mat-card-header> 
      <br><br><br>
      <div *ngIf="prijavaNaTermin">
          <div  style="padding-left: unset;">
              <div class="row">
                  <div class="col-11">
                      <mat-card class="box">
                        <div style="display: flex;justify-content: center;">
                          <div class="col-3 col-sm-5" style="margin-bottom: 1rem;text-align: center;display: block;">
                            <button mat-button class="prijavaBtn"  style="border-width: 1px;border-style: solid;font-weight: bold;color: #e83e8d;font-size: 1.2rem; " (click)="prikaziAktivnePrijave()" ><mat-icon style="font-weight: bold; color: #e83e8d; cursor: pointer; font-size: 2.35rem; margin-right: 1.4rem;padding-bottom: 1rem;">arrow_back</mat-icon>NAZAJ</button>
                          </div>
                        </div>
                          <mat-card-header>
                            <mat-card-title style="font-size: 16px;">Razpoložljivi termini</mat-card-title>
                          </mat-card-header> 
                        <div class="row">
                          <div class="col-6 .col-sm-10">
                            <mat-form-field>
                              <mat-label>Filtriraj</mat-label>
                              <input matInput (keyup)="applyFilter($event)" autocomplete="off" #input [(ngModel)]="filter">
                            </mat-form-field>
                          </div>
                          <div class="col-3 .col-sm-10">
                            <mat-form-field >
                              <mat-label>Časovno obdobje</mat-label>
                            <input matInput type="text" ngxDaterangepickerMd 
                              [ranges]="ranges"  
                              readonly  
                              [showCustomRangeLabel]="true"
                              [alwaysShowCalendars]="true"
                              [(ngModel)]="selected"
                              (datesUpdated) =prikaziTermine();
                              class="form-control"
                              size="display: inline-flex;">
                            </mat-form-field>
                          </div>
                          <br>
                        </div>
                        <div class="row" style="justify-content: center;">
                          <section class="example-section">
                          <span class="example-list-section">
                            <ul>
                              <li *ngFor="let dan of dnevi">
                                <mat-checkbox [(ngModel)]="dan.completed"
                                              [color]="dan.color"
                                              (ngModelChange)="updateAllComplete()">
                                  {{dan.name}}
                                </mat-checkbox>
                              </li>
                            </ul>
                          </span>
                        </section>
                        </div>
                      </mat-card>
                  </div>
              </div>       
            </div>
            <br>
            <div class="row">
                <div class="col-11">
                  <table mat-table #outerSort="matSort" [dataSource]="dataSource" matSort  multiTemplateDataRows class="mat-elevation-z8">  
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef > ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
              
                            <!-- ID Column -->
                            <ng-container matColumnDef="barva">
                              <th mat-header-cell *matHeaderCellDef style="width: 1% !important;" ></th>
                              <td mat-cell *matCellDef="let row" style="width: 1% !important;"[style.background]="row.barva"> </td>
                            </ng-container>
  
                      <!-- Inštruktor Column -->
                      <ng-container matColumnDef="dan" >
                        <th mat-header-cell *matHeaderCellDef> Dan </th>
                        <td mat-cell *matCellDef="let row" style="padding-left: unset; width: 20%;">
                            <div style="width: 100%; text-align:left; font-family:'Roboto';padding-top: 5px;">
                              <div style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:12px;opacity: 0.7;">
                                {{getDate(row.datum)}}
                              </div>
                              <div style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:14px; padding-bottom: 22px;">{{row.datum | date:'dd.MM.yyyy'}}</div>
                           </div>
                          </td>
                      </ng-container>      
                  
                      <!-- Naziv Column -->
                      <ng-container matColumnDef="naziv">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
                        <td mat-cell  *matCellDef="let row" style="width: 60%;">
                          <div  [style.background]="row.barva" style="text-align:left; font-family:'Roboto';padding-top: 5px;">
                            <div  style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:15px;opacity: 0.7;">
                              {{row.od}} - {{row.do}}<div class="float-right" style="margin-right: 10px;">{{row.zasedenost}} </div></div>
                            <div style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:14px ">{{row.naziv}}</div>
                            <div *ngIf="row.status == 'zaseden'" style="text-align: center;color: white;"> <i>ZASEDEN TERMIN</i> </div>
                            <div style="margin-right: 10px;display: grid;text-align: end;;padding-bottom: 5px;">{{row.instruktor}}</div>
                         </div>
                        </td>
                      </ng-container>
                  
                      <!-- Inštruktor Column -->
                      <ng-container matColumnDef="instruktor" >
                        <th mat-header-cell *matHeaderCellDef style="width: 20%;" > Inštruktor </th>
                        <td mat-cell *matCellDef="let row"> {{row.instruktor}} </td>
                      </ng-container>
                  
                      <!-- Datum Column -->
                      <ng-container matColumnDef="datum">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%;"> Datum </th>
                        <td mat-cell *matCellDef="let row"> {{row.datum | date:'dd.MM.yyyy'}} </td>
                      </ng-container>
              
                        <!-- Od Column -->
                        <ng-container matColumnDef="od">
                            <th mat-header-cell *matHeaderCellDef > Od -Do </th>
                            <td mat-cell *matCellDef="let row"> {{row.od}} - {{row.do}} </td>
                        </ng-container>
              
                        <!-- Do Column -->
                        <ng-container matColumnDef="do">
                            <th mat-header-cell *matHeaderCellDef > Do </th>
                            <td mat-cell *matCellDef="let row"> {{row.do}} </td>
                        </ng-container>
              
                        <!-- Zasedenost Column -->
                        <ng-container matColumnDef="zasedenost" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 5% !important;" > Zasedenost </th>
                            <td mat-cell *matCellDef="let row"> {{row.zasedenost}} </td>
                        </ng-container>
              
                        <ng-container matColumnDef="actions" style="text-align: center;">
                            <th mat-header-cell *matHeaderCellDef class="akcije" style="width: 5% !important;padding-right: unset;" >Termin</th>
                                <td mat-cell *matCellDef="let row"style="padding-right: unset;" >
                                  <div  *ngIf="row.status != 'odpovedan' && row.status !='zaseden'">
                                    <button mat-button (click)="prijaviUporabnika(row.id);" style="font-weight: bold;"><mat-icon style="color: green; cursor: pointer; font-size: 1.35rem;">check_circle_outline</mat-icon> Prijava</button>
                                  </div>
                                  <div  *ngIf="row.status == 'odpovedan'" style="font-size:large; color: red; font-weight:600;font-family: monospace;">
                                     ODPOVEDAN
                                  </div>
                                  <div  *ngIf="row.status == 'zaseden'">
                                    <button mat-button (click)="prijaviRezervo(row.id)"><mat-icon style="color: blue; cursor: pointer; font-size: 1.35rem;">supervisor_account</mat-icon> Prijava rezerva</button>
                                 </div>
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="barva1">
                          <th mat-header-cell *matHeaderCellDef style="width: 1% !important;" ></th>
                          <td mat-cell *matCellDef="let row" style="width: 1% !important;"[style.background]="row.barva"> </td>
                        </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
                    </tr>
                  </table>
                  <div *ngIf="noData" style="margin-top: 1rem;" id ="emptyTable" >
                    {{myText}} "{{input.value}}"
                </div>
                  <mat-paginator [length]="100"
                    [pageSize]="14"
                    [pageSizeOptions]="[7, 14, 25, 50, 100]">
                  </mat-paginator>
              </div>
            </div>
      </div>
  
  
      <div *ngIf="aktivnePrijave">
        <div  style="padding-left: unset;">
            <div class="row">
                <div class="col-11">
                    <mat-card class="box">
                      <div style="display: flex;justify-content: center;">
                        <div class="col-3 col-sm-5" style="margin-bottom: 1rem;text-align: center;display: block;">
                          <button mat-button class="prijavaBtn" style="border-width: 1px;border-style: solid;font-weight: bold;color: #e83e8d;font-size: 1.2rem;" (click)="prikaziPrijavoNaTermin()" ><mat-icon style="color: #e83e8d; cursor: pointer; font-size: 2.35rem; margin-right: 1.4rem;padding-bottom: 1rem;">fitness_center</mat-icon>PRIJAVA NA TERMIN</button>
                        </div>
                      </div>
                        <mat-card-header>
                          <mat-card-title style="font-size: 16px;">Aktivne prijave</mat-card-title>
                        </mat-card-header> 
                      <div class="row">
                        <div class="col-6 .col-sm-5">
                          <mat-form-field>
                            <mat-label>Filtriraj</mat-label>
                            <input matInput (keyup)="applyFilteAktivni($event)" autocomplete="off" #inputTrenutni [(ngModel)]="filterAktivni">
                          </mat-form-field>
                        </div>
  
                        <br>
                      </div>
                    </mat-card>
                    <br>
                    <mat-card class="box">
                      <div class="row unselectable">
                        <div style="flex: 0 0 0.333333%;padding-right: 15px;"><mat-icon style="color: dodgerblue; cursor: default; font-size: 2.4rem; margin-right: -0.5rem;">info</mat-icon></div>
                        <div class="col-7">
                           Od vadbe se lahko odjavite do 15.00 ure istega dne oz. do 20.00 ure za jutranje in dopoldanske vadbe naslednjega dne.
                        </div>
                      </div>
                    </mat-card>
                </div>
            </div>       
          </div>
          <br>
          <div class="row">
              <div class="col-11">
                <table mat-table #outerSort="matSort" [dataSource]="dataSourceTrenutni" matSort  multiTemplateDataRows class="mat-elevation-z8">  
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef > ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
            
                          <!-- ID Column -->
                          <ng-container matColumnDef="barva">
                            <th mat-header-cell *matHeaderCellDef style="width: 1% !important;" ></th>
                            <td mat-cell *matCellDef="let row" style="width: 1% !important;"[style.background]="row.barva"> </td>
                          </ng-container>
  
                    <!-- Inštruktor Column -->
                    <ng-container matColumnDef="dan" >
                      <th mat-header-cell *matHeaderCellDef> Dan </th>
                      <td mat-cell *matCellDef="let row" style="padding-left: unset; width: 25%;">
                          <div style="width: 100%; text-align:left; font-family:'Roboto';padding-top: 5px;">
                            <div style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:12px;opacity: 0.7;">
                              {{getDate(row.datum)}}
                            </div>
                            <div style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:14px; padding-bottom: 22px;">{{row.datum | date:'dd.MM.yyyy'}}</div>
                         </div>
                        </td>
                    </ng-container>      
                
                    <!-- Naziv Column -->
                    <ng-container matColumnDef="naziv">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
                      <td mat-cell  *matCellDef="let row" style="width: 60%;">
                        <div  [style.background]="row.barva" style="text-align:left; font-family:'Roboto';padding-top: 5px;">
                          <div  style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:15px;opacity: 0.7;">
                            {{row.od}} - {{row.do}}<div class="float-right" style="margin-right: 10px;">{{row.zasedenost}} </div></div>
                          <div   style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:14px ">{{row.naziv}}</div>
                          <div  style="margin-right: 10px;display: grid;text-align: end;;padding-bottom: 5px;">{{row.instruktor}}</div>
                       </div>
                      </td>
                    </ng-container>
                      <ng-container matColumnDef="actions" style="text-align: center;">
                          <th mat-header-cell *matHeaderCellDef class="akcije" style="width: 5% !important;padding-right: unset;">Termin</th>
                              <td mat-cell *matCellDef="let row" style="padding-right: unset;width: 20%;">
                                <div  *ngIf="row.status != 'odpovedan' && odjavaAvailable(row)">
                                  <button mat-button (click)="odjaviUporabnika(row)" ><mat-icon style="color: red; cursor: pointer; font-size: 1.35rem;">not_interested</mat-icon>Odjava</button>
                                </div>
                                <div  *ngIf="row.status == 'odpovedan'" style="font-size:large; color: red; font-weight:600;font-family: monospace;">
                                   ODPOVEDAN
                                </div>
                              </td>
                      </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplayTrenutni"></tr>
                  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
                  </tr>
                </table>
                <div *ngIf="noActiveData" style="margin-top: 1rem;" id ="emptyTable" >
                  {{myTextTrenutni}} "{{inputTrenutni.value}}"
              </div>
                <mat-paginator [length]="100"
                [pageSize]="14"
                [pageSizeOptions]="[7, 14, 25, 50, 100]">
              </mat-paginator>  
            </div>
          </div>
          <br>
        <div *ngIf="aktivnePrijaveRezerve">
          <div class="row">
            <div class="col-11">
              <mat-card class="box">
                  <mat-card-header>
                    <mat-card-title style="font-size: 16px;">Rezervni termini</mat-card-title>
                  </mat-card-header> 
                  <div>V primeru sprostitve mesta na terminu boste prejeli sporočilo/klic</div>
                  <br>
              </mat-card>
            </div>
          </div>

          <div class="row">
              <div class="col-11">
                <table mat-table #outerSort="matSort" [dataSource]="dataSourceRezerve" matSort  multiTemplateDataRows class="mat-elevation-z8">  
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef > ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
            
                          <!-- ID Column -->
                          <ng-container matColumnDef="barva">
                            <th mat-header-cell *matHeaderCellDef style="width: 1% !important;" ></th>
                            <td mat-cell *matCellDef="let row" style="width: 1% !important;"[style.background]="row.barva"> </td>
                          </ng-container>
  
                    <!-- Inštruktor Column -->
                    <ng-container matColumnDef="dan" >
                      <th mat-header-cell *matHeaderCellDef> Dan </th>
                      <td mat-cell *matCellDef="let row" style="padding-left: unset; width: 25%;">
                          <div style="width: 100%; text-align:left; font-family:'Roboto';padding-top: 5px;">
                            <div style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:12px;opacity: 0.7;">
                              {{getDate(row.datum)}}
                            </div>
                            <div style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:14px; padding-bottom: 22px;">{{row.datum | date:'dd.MM.yyyy'}}</div>
                         </div>
                        </td>
                    </ng-container>      
                
                    <!-- Naziv Column -->
                    <ng-container matColumnDef="naziv">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
                      <td mat-cell  *matCellDef="let row" style="width: 60%;">
                        <div  [style.background]="row.barva" style="text-align:left; font-family:'Roboto';padding-top: 5px;">
                          <div  style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:15px;opacity: 0.7;">
                            {{row.od}} - {{row.do}}<div class="float-right" style="margin-right: 10px;font-size: 13px;">{{row.mesto}}. Rezerva</div></div>
                          <div   style="color: black;font-weight: 600; margin-left:10px;margin-top:5px; font-size:14px ">{{row.naziv}}</div>
                          <div  style="margin-right: 10px;display: grid;text-align: end;;padding-bottom: 5px;">{{row.instruktor}}</div>
                       </div>
                      </td>
                    </ng-container>
                      <ng-container matColumnDef="actions" style="text-align: center;">
                          <th mat-header-cell *matHeaderCellDef class="akcije" style="width: 5% !important;padding-right: unset;">Termin</th>
                              <td mat-cell *matCellDef="let row" style="padding-right: unset;">
                                <div  *ngIf="row.status != 'odpovedan' && odjavaAvailable(row)">
                                  <button mat-button (click)="odjaviRezervo(row)" ><mat-icon style="color: red; cursor: pointer; font-size: 1.35rem;">not_interested</mat-icon>Odjava</button>
                                </div>
                                <div  *ngIf="row.status == 'odpovedan'" style="font-size:large; color: red; font-weight:600;font-family: monospace;">
                                   ODPOVEDAN
                                </div>
                              </td>
                      </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplayTrenutni"></tr>
                  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
                  </tr>
                </table>
                <mat-paginator [length]="100"
                [pageSize]="14"
                [pageSizeOptions]="[7, 14, 25, 50, 100]">
              </mat-paginator>
            </div>
          </div>
          <br>
        </div>
    </div>
  </mat-card>
</div>
