<!--<div id="top" style="position:absolute; top:-150px;"></div>
<mat-card class="card" style="margin-bottom:30px;z-index: 2;">
  <img class="cardimg">

  <div style="margin-right:5%; padding-top:10px; padding-left: 20px; flex-grow:1; margin-bottom: 30px; flex: 400px">
    <div>
        <div class="header">Rojstnodnevne zabave</div>
        <div style="width: 90%;border-bottom: 2px solid black; margin-bottom: 30px; margin-top:5px;"> </div>
    </div>
    <div class="headertext">
        Želite pripraviti nepozabno, zabavno in aktivno rojstnodnevno zabavo za vašega otroka?<br>
        Pri nas organiziramo 3 ali 2-urni program praznovanja
         z različnimi športnimi in zabavnimi igrami. Poleg športno-gibalnega programa v telovadnici pa si lahko izberete tudi
          tematski program z različnimi ustvarjalnimi vsebinami. Na koncu sledi pogostitev s pijačo, pico, torto in prigrizki ter petje rojstnodnevnih pesmic.
        Izberete lahko 3 ali 2-urno animacijo z animatorjem ali pa paket, v katerega sta vključeni tudi hrana in pijača.
        <ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
          <div style="color:#e83e8c; font-weight:700; font-size: 20px; margin-bottom: 20px">Tematski rojstni dnevi:</div>
          <li><span class="tema" >PRINCESKIN ROJSTNI DAN</span> - izdelava kron in nakita, princeskin ples in igre</li>
          <li><span class="tema" >GUSARSKI ROJSTNI DAN</span> - izdelava dodatkov za gusarje, igre s gusarsko tematike</li>
          <li><span class="tema" >USTVARJALČKI</span> - izdelovanje izdelkov na različne aktualne tematike </li>
          <li><span class="tema" >VRTNARČKI</span> - pobarvamo cvetlični lonček in vanj posadimo cvetlico </li>
          <li><span class="tema" >IZDELAVA NAKITA</span> - izdelava različnega nakita za punce in fante    </li>
          <li><span class="tema" >LOV ZA ZAKLADOM</span> - različne uganke, miselne in gibalne naloge, ki nas pripeljejo do skritega zaklada </li>
          <li><span class="tema">PRAVLJIČAR</span> - preberemo pravljico ter rišemo in se igramo na temo pravljice </li>
          <li><span class="tema" >POSLIKAVA OBRAZA</span> </li>
        </ul>
        <b style="color: #e83e8c">CENIK:</b>
        <ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
          <li style=" display:flex"><div>triurna animacija</div><div class="itemM"></div><div class="price">88 €</div></li>
          <li style=" display:flex"><div>paket (triurna animacija, pijača, hrana)</div><div class="itemM"></div><div class="price">120 €</div></li>
          <li style=" display:flex"><div>doplačilo za tematski rojstni dan</div><div class="itemM"></div><div class="price">30 €</div></li>
          <li style=" display:flex"><div>doplačilo za dodatnega animatorja</div><div class="itemM"></div><div class="price">20 €</div></li>
        </ul>
        cene so za do 10 otrok (za vsakega dodatnega otroka: doplačilo 5 €)<br>
        2 URNI rojstni dan: 20 % popusta na zgornje cene
   </div>
  </div>

</mat-card>-->
