
<div id="top" style="position:absolute; top:-150px;"></div>

<mat-card class="card urnik" style="height:auto; margin-bottom: 50px;" >

  <div style="overflow-x: auto">
  <table>
    <tr>
      <th  style="width: 60px;"></th>
      <th style="max-width: 60px;">PONEDELJEK</th>
      <th style="max-width: 60px;">TOREK</th>
      <th style="max-width: 60px;">SREDA</th>
      <th style="max-width: 60px;">ČETRTEK</th>
      <th style="max-width: 60px;">PETEK</th>
      <th style="max-width: 60px;">SOBOTA</th>
      <th style="max-width: 60px;">NEDELJA</th>
    </tr>
    <tr  *ngFor="let i of Hours"  id="{{i}}">
      <td style="position:relative;" id="{{ 'ura-' + i}}">{{i}}:30</td>
      <td style="position:relative;" id="{{ 'ponedeljek-' + i}}"></td>
      <td style="position:relative;" id="{{ 'torek-' + i}}"></td>
      <td style="position:relative;" id="{{ 'sreda-' + i}}"></td>
      <td style="position:relative;" id="{{ 'četrtek-' + i}}"></td>
      <td style="position:relative;" id="{{ 'petek-' + i}}"></td>
      <td style="position:relative;" id="{{ 'sobota-' + i}}"></td>
      <td style="position:relative;" id="{{ 'nedelja-' + i}}"></td>
    </tr>
  </table>
</div>
<div style="margin-top: 50px;">
   <b style="color:#e83e8c;"> Zaradi lažje organizacije in izvedbe se je potrebno PRIJAVITI NA VSE VADBE!</b>
   <br><br> S prijavami želimo zagotoviti ustrezno število vadečih na vadbi in s tem kvalitetno delo.
   <br><br> Prijavite se lahko po mailu: <a style="color:#00a7c0; cursor: pointer; font-size: 16px" href="mailto:info@matejasport.si">info@matejasport.si</a>
</div>
<div style="margin-top: 30px;font-size: small;">
  <p>Za zdrav način življenja je potrebno poleg zdrave prehrane, dovolj spanca in izogibanja stresu vključiti tudi vsakodnevno gibanje. Najbolje, da si izberemo čim več aktivnosti, ki nas veselijo, po možnosti čim več zunaj na svežem zraku. Poleg priljubljenih aktivnosti, pa je potrebno v svoj urnik dodati tudi redno, organizirano in strokovno vodeno vadbo. Le tako lahko dosežemo naše zastavljene cilje, kot so ohranjanje moči, gibljivosti, telesne teže, pridobivanje kondicije… Kolikokrat na teden se odločimo za vodeno vadbo je odvisno od naše starosti, drugih obveznosti in aktivnosti, ki jih že imamo, ter zastavljenih ciljev. Vendar, vodeno vadbo moramo vključiti v naš urnik in obiskovati jo moramo redno. Le tako lahko dosežemo kakšne spremembe in zastavljene cilje. Vsako »kampanjsko« prihajanje na vadbe nima posebnega smisla.</p> 
  <p>Zato pri nas prakticiramo sistem <b>fiksnih prijav na vadbe</b>. To pomeni, da se prijavite na določene termine in te prijave veljajo do preklica. Če se vadbe ne morete udeležiti termin seveda lahko menjate za katerikoli drugi prosti termin, ali pa po določenem času fiksne termine menjate za druge željene termine. Tisti, ki vam to ne ustreza, <b>se lahko prijavljate vsak teden sproti</b>, na termine, ki so še prosti. Pomembno je, da se držite rednega udeleževanja vadb.</p>
</div>
</mat-card>

