<div id="top" style="position:absolute; top:-150px;"></div>

<mat-card class="card" style="margin-bottom:30px;">
  <mat-card-header>
      <mat-card-title>Cenik</mat-card-title>
   </mat-card-header>
<div style="border-color:  black; border-style: solid; border-width: 1px"> </div>

<mat-card  class="person" style="margin-top:10px;"  (click)="showInfo(0)">

  <div class="CenikGroup" style="color:#00a7c0"> <mat-icon class="expand_icon" style="vertical-align: top;">expand_more</mat-icon>Skupinske vadbe</div>
  <div [@slideInOut]="iShow[0] ? 'in' : 'out'"  style="border-top: 1px solid black;  padding-top: 10px;">
    <div class="soloitem" style="margin-bottom: 10px;"><b style="color: #e83e8c">NOVO! UVODNA SVETOVALNA OBRAVNAVA</b><div class="itemM"></div><div class="price">30 €</div></div>
    <div class="soloitem" style="margin-bottom: 10px;"><b style="color: #e83e8c">1 obisk</b><div class="itemM"></div><div class="price">10 €</div></div>
    <div class="soloitem"><b style="color: #e83e8c">MESEČNA NEOMEJENA KARTA</b><div class="itemM"></div><div class="price">66 €</div></div>
    <div class="extra" style="margin-bottom: 10px;">(velja 1 mesec od dneva nakupa)</div>
    <div class="soloitem"><b style="color: #e83e8c">Paket 12 obiskov</b><div class="itemM"></div><div class="price">90 €</div></div>
    <div class="extra" style="margin-bottom: 10px;">(velja 4 mesece od dneva nakupa)</div>
    <b style="color: #e83e8c">Trimesečne karte:</b>
    <div class="extra">(veljajo 3 mesece od dneva nakupa)</div>
    <ul>
      <li><div>12 vadb</div><div class="itemM"></div><div class="price">78 €</div></li>
      <li><div>24 vadb</div><div class="itemM"></div><div class="price">132 €</div></li>
      <li><div>36 vadb</div><div class="itemM"></div><div class="price">175 €</div></li>
      <li><div>Neomejena</div><div class="itemM"></div><div class="price">182 €</div></li>
    </ul>
    <b style="color: #e83e8c">Polletne karte:</b>
    <div class="extra">(21 tednov - od 5.9.2022 do 31.1.2023 in od 1.2.2023 do 25.6.2023)</div>
    <ul>
      <li><div>1x na teden (19 vadb)</div><div class="itemM"></div><div class="price">115 €</div></li>
      <li><div>2x na teden (38 vadb)</div><div class="itemM"></div><div class="price">190 €</div></li>
      <li><div>3x na teden (57 vadb)</div><div class="itemM"></div><div class="price">240 €</div></li>
    </ul>

    <b style="color: #e83e8c">Letne karte:</b>
    <div class="extra">(od 5.9.2022 do 25.6.2023) <b>10 % POPUSTA!!!</b></div>
    <ul>
      <li><div>1x na teden (38 vadb)</div><div class="itemM"></div><div class="price">230 €</div></li>
      <li><div>2x na teden (76 vadb)</div><div class="itemM"></div><div class="price">380 €</div></li>
      <li><div>3x na teden (114 vadb)</div><div class="itemM"></div><div class="price">480 €</div></li>
    </ul>
    <div style="margin-bottom: 10px; font-weight: 600;">Polletnih in letnih kart se ne podaljšuje!!</div>
    <div class="soloitem" style="margin-bottom: 10px;"><b style="color: #e83e8c">Vpisnina</b><div class="itemM"></div><div class="price">15 €</div></div>
    <div style="margin-bottom:20px; margin-top:20px">* Z vsemi kartami lahko poljubno menjate vadbe in termine.</div>
    <div style="margin-bottom:20px; margin-top:20px">* Cenik začne veljati z 1.8.2022.</div>
  </div>
</mat-card>

<mat-card  class="person" style="margin-top:10px;"  (click)="showInfo(1)">
  <div class="CenikGroup" style="color: #00a7c0"><mat-icon class="expand_icon" style="vertical-align: top;">expand_more</mat-icon>Individualna vadba / Terapevtska obravnava</div>
  <div [@slideInOut]="iShow[1] ? 'in' : 'out'"  style="border-top: 1px solid black;  padding-top: 10px">
    <div class="soloitem" style="margin-bottom: 10px;"><b style="color: #e83e8c">1 ura</b><div class="itemM"></div><div class="price">39 €</div></div>
    <b style="color: #e83e8c">Paketi:</b>
    <ul>
      <li><div>5 vadb / obravnav</div><div class="itemM"></div><div>180 €</div></li>
      <li><div>10 vadb / obravnav</div><div class="itemM"></div><div>330 €</div></li>
    </ul>
    <div class="soloitem" style="margin-bottom: 10px;"><b style="color: #e83e8c">Kinesiotape</b><div class="itemM"></div><div class="price">10-15 €</div></div>

    <b style="color: #e83e8c">Vadbe v manjših skupinah:</b>
    <ul>
      <li>2 osebi v skupini imata 20 %, 3 osebe 40 % in 4 osebe 50 % popusta.</li>
    </ul>

  </div>
</mat-card>

<mat-card  class="person" style="margin-top:10px;"  (click)="showInfo(2)">
  <div class="CenikGroup" style="color: #00a7c0"><mat-icon class="expand_icon" style="vertical-align: top;">expand_more</mat-icon>Sestava programov treninga</div>
  <div [@slideInOut]="iShow[2] ? 'in' : 'out'"  style="border-top: 1px solid black;  padding-top: 10px">
    <div class="soloitem"><b style="color: #e83e8c; margin-top:10px;">Sestava programov treninga</b><div class="itemM"></div><div class="price" style="margin-top:10px;">35-60 €/mesec</div></div>

  </div>
</mat-card>

<mat-card  class="person" style="margin-top:10px;"  (click)="showInfo(3)">
  <div class="CenikGroup" style="color: #00a7c0"><mat-icon class="expand_icon" style="vertical-align: top;">expand_more</mat-icon>Rojstnodnevne zabave</div>
  <div [@slideInOut]="iShow[3] ? 'in' : 'out'"  style="border-top: 1px solid black;  padding-top: 10px">
    <div class="soloitem" style="margin-top:10px;"><b style="color: #e83e8c;">3-urna animacija</b><div class="itemM"></div><div class="price">88 €</div></div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Paket</b><div class="itemM"></div><div class="price">120 €</div></div>
    <div class="extra" style="margin-bottom:10px;">(3-urna animacija, pijača, hrana)</div>
    <div class="soloitem"  style="margin-top:10px;margin-bottom:20px"><b style="color: #e83e8c;">2 URNI rojstni dan</b><div class="itemM"></div><div class="price">-20 %</div></div>
    <b style="color: #e83e8c;">Doplačila:</b>
    <ul>
      <li><div>Tematski rojstni dan</div><div class="itemM"></div><div class="price">30 €</div></li>
      <li><div>Dodatni animator</div><div class="itemM"></div><div class="price">20 €</div></li>
      <li><div>Vsak dodatni otrok</div><div class="itemM"></div><div class="price">5 €</div></li>
      <div class="extra" style="margin-left: -30px;">(Do 10 otrok brez doplačila)</div>
    </ul>

  </div>
</mat-card>

<mat-card  class="person" style="margin-top:10px;"  (click)="showInfo(4)">
  <div class="CenikGroup" style="color: #00a7c0"><mat-icon class="expand_icon" style="vertical-align: top;">expand_more</mat-icon>Masaže</div>
  <div [@slideInOut]="iShow[4] ? 'in' : 'out'"  style="border-top: 1px solid black;  padding-top: 10px">
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Klasična masaža</b><div class="itemM"></div><div class="price">39 €</div></div>
    <div class="extra">(60 min)</div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Športna masaža</b><div class="itemM"></div><div class="price">45 €</div></div>
    <div class="extra">(60 min)</div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Terapevtska masaža</b><div class="itemM"></div><div class="price">35 €</div></div>
    <div class="extra">(30 min)</div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Terapevtska masaža</b><div class="itemM"></div><div class="price">50 €</div></div>
    <div class="extra">(60 min)</div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Masaža dela telesa</b><div class="itemM"></div><div class="price">29 €</div></div>
    <div class="extra">(30 min)</div>
  </div>
</mat-card>

<mat-card  class="person" style="margin-top:10px;"  (click)="showInfo(5)">
  <div class="CenikGroup" style="color: #00a7c0"><mat-icon class="expand_icon" style="vertical-align: top;">expand_more</mat-icon>FMS testiranje</div>
  <div [@slideInOut]="iShow[5] ? 'in' : 'out'"  style="border-top: 1px solid black;  padding-top: 10px">
    <div class="soloitem"><b style="color: #e83e8c">test + interpretacija rezultatov + svetovanje</b><div class="itemM"></div><div>45 €</div></div>
    <div class="extra">(60 min)</div>
  </div>
</mat-card>

<mat-card  class="person" style="margin-top:10px;"  (click)="showInfo(6)">
  <div class="CenikGroup" style="color: #00a7c0"><mat-icon class="expand_icon" style="vertical-align: top;">expand_more</mat-icon>Ostalo</div>
  <div [@slideInOut]="iShow[6] ? 'in' : 'out'"  style="border-top: 1px solid black;  padding-top: 10px">
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c">Vpisnina</b><div class="itemM"></div><div class="price">15 €</div></div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Ponovna izdelava članske izkaznice</b><div class="itemM"></div><div class="price">5 €</div></div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Izposoja brisače</b><div class="itemM"></div><div class="price">2 €</div></div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Voda</b><div class="itemM"></div><div class="price">0,7 €</div></div>
    <div class="extra">(plastenka)</div>
    <div class="soloitem"  style="margin-top:10px;"><b style="color: #e83e8c;">Voda z okusom</b><div class="itemM"></div><div class="price">2 €</div></div>
  </div>
</mat-card>
<div class="soloitem"  style="margin-top:30px;">Plačilo je možno samo z GOTOVINO ali z nakazilom na TRR po predračunu.</div>

<div class="soloitem"  style="margin-top:50px;"><b style="color: #e83e8c;">MOŽNOST NAKUPA DARILNIH BONOV!</b></div>
<div style=" margin-top:50px;">
<b style="color: #e83e8c;">POPUSTI:</b>
<ul style="padding-left: 0; margin-left: 0;">
  <li style="padding-left: 0; margin-left: 0;"><div>Upokojenci, dijaki, študentje </div><div class="itemM"></div><div class="price">-10 %</div></li>
  <div class="extra">(ob predložitvi dokazila)</div>
  <li style="padding-left: 0; margin-left: 0;"><div>Družinski popust</div><div class="itemM"></div><div class="price">-10 %</div></li>
  (ob nakupu treh kart ali več)
</ul>
</div>
<div style="font-family: 'Roboto';margin-top:50px; ">
  <b>SPLOŠNI POGOJI POSLOVANJA</b><br>
  – Cenik začne veljati 01.08.2022<br>
  – Mesečno karto za vadbo lahko aktivirate kadar koli v mesecu in je veljavna en mesec (primer: od 15. marca do vključno 14. aprila).<br>
  – KART NE PODALJŠUJEMO!<br>
  – KARTE NISO PRENOSLJIVE!<br>
  – KARTO PLAČATE OB PRVEM OBISKU, brez plačila obisk na vadbi ni možen.<br>
  – OBVEZNE SO PRIJAVE NA VSE VADBE IN OSTALE STORITVE!<br>
  – Polletne in letne karte veljajo do navedenega datuma in se ne podaljšujejo!<br>
  <br>
  Pridržujemo si pravico do spremembe cenika.<br>
</div>
</mat-card>