<div id="top" style="position:absolute; top:-150px;"></div>
<mat-card class="card" style="margin-bottom:30px;z-index: 2;">
  <img class="cardimg">

  <div style="margin-right:5%; padding-top:10px; padding-left: 20px; flex-grow:1; margin-bottom: 30px; flex: 400px">
    <div>
        <div class="header">Sestava programov treninga</div>
        <div style="width: 90%;border-bottom: 2px solid black; margin-bottom: 30px; margin-top:5px;"> </div>
    </div>
    <div class="headertext">
        <ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
            <li><span class="tema" >PROGRAMI ZA IZGUBO TELESNE TEŽE IN OBLIKOVANJE TELESA</span><br>
              Veliko ljudi ni zadovoljnih s svojim videzom, pa naj gre za prekomerno telesno težo ali obliko in držo svojega telesa. To lahko v veliki meri izboljšamo s spremembo življenjskega stila, v katerega vključimo veliko gibanja, zdrav način prehranjevanja in zdrave življenjske navade. Pri tem velikokrat potrebujemo spodbudo, oporo in svetovanje.
              Pri preoblikovanju telesa vam bodo pomagali naši <b>OSEBNI TRENERJI</b>, ki bodo izdelali <b>VAŠ INDIVIDUALNI PROGRAM TRENINGA</b>,
              po želji pa vas bodo usmerili v ustrezni skupinski ali individualni program.
              Program vsebuje začetno in končno merjenje, načrt prehrane in vadbe za določeno obdobje.
              <br>Cena programov je od 35 do 60 evrov.
              <br><br><b>ORGANIZIRAMO PA TUDI TRIMESEČNI PROGRAM ZDRAVEGA HUJŠANJA</b><br>
              Za vse tiste, ki bi se radi znebili odvečnih kilogramov ter postali zdravi in fit na pravilen in zdrav način.
              <br>Program vsebuje:
              <ul>
                <li>3-mesečno karto za 3x tedensko vadbo (plan vadbe naredimo glede na vaše želje, cilje in potrebe)</li>
                <li>individualno prilagojen plan prehranjevanja</li>
                <li>6x individualno obravnavo (meritve, svetovanje)</li>
                <li>pomoč trenerja z nasveti (hujšanje, zdrava prehrana, vadba)</li>
              </ul>
            <br>
              Cena paketa je 245 evrov.
            </li>
          </ul>
   </div>
  </div>

</mat-card>
