

  .headertext{
    text-align: justify;
     margin-right:10%;
  }

  .tema
  {
    font-weight:700;
    color:#e83e8c;
     font-weight:700;
     font-size: 16px;
      margin-bottom: 20px
  }

  a{
    font-size: 1rem !important;
    color: lightskyblue;
  }

  b{
   color: #00a7c0;
  }
