<div id="top" style="position:absolute; top:-150px;"></div>
<mat-card class="card" style="margin-bottom:30px;z-index: 2;">
  <img class="cardimg">

  <div style="margin-right:5%; padding-top:10px; padding-left: 20px; flex-grow:1; margin-bottom: 30px; flex: 400px">
    <div>
        <div class="header">Sestava programov treninga</div>
        <div style="width: 90%;border-bottom: 2px solid black; margin-bottom: 30px; margin-top:5px;"> </div>
    </div>
    <div class="headertext">
        <ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
            <li><span class="tema" >PROGRAMI ZA IZGUBO TELESNE TEŽE IN OBLIKOVANJE TELESA</span><br>
              Veliko ljudi ni zadovoljnih s svojim videzom, pa naj gre za prekomerno telesno težo ali obliko in držo svojega telesa. To lahko v veliki meri izboljšamo s spremembo življenjskega stila, v katerega vključimo veliko gibanja, zdrav način prehranjevanja in zdrave življenjske navade. Pri tem velikokrat potrebujemo spodbudo, oporo in svetovanje.
              Pri preoblikovanju telesa vam bodo pomagali naši <b>OSEBNI TRENERJI</b>, ki bodo izdelali <b>VAŠ INDIVIDUALNI PROGRAM TRENINGA</b>,
              po želji pa vas bodo usmerili v ustrezni skupinski ali individualni program.
              Program vsebuje začetno in končno merjenje, načrt prehrane in vadbe za določeno obdobje.
              <br>Naši trenerji so: <b>Mateja Habjanič, Žiga Lipar, Tjaša Bergant</b>
              <br>Cena programov je od 35 do 60 evrov.
              <br><br><b>ORGANIZIRAMO PA TUDI TRIMESEČNI PROGRAM ZDRAVEGA HUJŠANJA</b><br>
              Za vse tiste, ki bi se radi znebili odvečnih kilogramov ter postali zdravi in fit na pravilen in zdrav način.
              <br>Program vsebuje:
              <ul>
                <li>3x predavanje na temo hujšanje, zdrava prehrana in vadba</li>
                <li>3x individulna obravnava z meritvami in svetovanjem</li>
                <li>3-mesečno karto za 3x tedensko vadbo</li>
              </ul>



              Cena paketa je 215 evrov. Zbiramo prijave!
            </li>
            <br><li><span class="tema" >TEKAŠKI TRENINGI</span><br>Ste začetnik ali pa že izkušen tekač in bi radi s treningi začeli strokovno in sistematično?<br>
              Pri tem vam bo pomagal znani tekač <b>JANEZ FERLIC</b>, ki ima ogromno izkušenj z vodenjem tekaških skupin in izdelavo treningov. Pomagal vam bo doseči zastavljene cilje – pa naj bodo to prvi tekaški koraki ali pa maraton v rekordnem času. Več o Janezu si lahko preberete na njegovi spletni strani <a href="http://www.janezferlic.si">www.janezferlic.si</a>.
              <br>Janez vam nudi brezplačno svetovanje in vam izdela mesečni načrt treninga za 35 evrov.</li>
              <br><li><span class="tema" >KOLESARSKI TRENINGI</span><br>
              Vse več je navdušenih rekreativnih kolesarjev, ki se redno udeležujejo raznih tekmovanj. Želja po vrhunskem, rekordnem rezultatu hitro postane velika,
              sami pa jo težko dosežemo. <b>VLADIMIR KERKEZ</b>, bivši profesionalni kolesar, je kolesarski trener, ki vam bo s sistematičnim programom treninga pomagal pri lažjem doseganju zastavljenih ciljev.
              Vlado se je s kolesarstvom začel ukvarjati pri desetih letih (leta 1994). Vso svojo kariero je bil član kolesarskega kluba Sava Kranj, bil pa je tudi član slovenske reprezentance. V tem času je bil sotekmovalec Kristjana Korena, Luke Mezgeca, Grege Boleta, Valterja Bonče, Jureta Zrimška, Mateja Stareta … Leta 2011 je vse svoje kolesarske izkušnje nadgradil z nazivom TRENER KOLESARSTVA. Svojo kolesarsko pot je zaključil leta 2013, še vedno pa ostaja v kolesarskih vodah, saj je v Ljubljani odprl svojo kolesarsko trgovino <a href="http://www.cu-ljubljana.com/">www.cu-ljubljana.com</a>.
              Vlado vam nudi brezplačno svetovanje, določitev območij srčnega utripa in sestavo treninga glede na vaše želje
               (hujšanje, vzdrževanje kondicije, trening za boljši rezultat …).
               <br>Cena programa je od 35 do 60 evrov.
              </li>
          </ul>
   </div>
  </div>

</mat-card>
