

  .headertext{
    text-align: justify;
     margin-right:10%;
  }

  .tema
  {

    color: #00a7c0;
    font-weight:700;
  }

  .filler{
    /*background-image: url(/assets/background2.png);
    background-size: 50px 50px;*/


  }
