<div id="top" style="position:absolute; top:-150px;"></div>
<mat-card class="card" style="margin-bottom:30px;z-index: 2;">
  <img class="cardimg">

  <div style="margin-right:5%; padding-top:10px; padding-left: 20px; flex-grow:1; margin-bottom: 30px; flex: 400px">
    <div>
        <div class="header">Masaže</div>
        <div style="width: 90%;border-bottom: 2px solid black; margin-bottom: 30px; margin-top:5px;"> </div>
    </div>
    <div class="headertext">
        <ul style="list-style-type:none;padding-left: 0; margin-left: 0;">
            <div style="color:#e83e8c; font-weight:700; font-size: 20px; margin-bottom: 20px">PRI NAS LAHKO IZBERETE:</div>
            <li ><span class="tema">KLASIČNA MASAŽA</span> - pripomore k dobremu počutju, saj vpliva na sprostitev celotnega telesa in duha. Gre za manipulacije mehkih struktur telesa (mišic, kit, vezi, kože in sklepov) s čimer želimo telo sprostiti, preprečili ali zmanjšati bolečine, neudobje, mišične krče in stres. Z masažo se povečajo prekrvavitev, limfni pretok in metabolizem, s tem pa se pospešita tudi regeneracija in okrevanje po treningu ali napornem dnevu (izločajo se snovi, ki povzročajo utrujenost, prehrana tkiv se izboljša). Tako se izboljšata tudi zdravje in psihično počutje.</li>
            <br><li><span class="tema" >ŠPORTNA MASAŽA</span> - je namenjena športnikom in rekreativcem, ki želijo ohranjati svojo formo in psihofizično stanje ter skrbi za ravnovesje pri naporih ali poškodbah. S posebnimi tehnikami se predvsem posveti posebej obremenjenim mišičnim skupinam.</li>
            <br><li><span class="tema" >TERAPEVTSKA MASAŽA</span> - ima terapevtske učinke in se posveti samo tistemu delu telesa kjer imamo težave. </li>
            <br><li><span class="tema" >REFLEKSNA MASAŽA STOPAL</span> - je energetska masaža, ki temelji na spoznanju, da ima vsak del telesa natančno določeno refleksno točko na stopalih. Z masažo teh točk lahko stimuliramo vse dele telesa in tako vzpostavimo pretok energije, sprostimo in uravnovesimo celo telo. To je tehnika naravnega zdravljenja in sproščanja psihofizičnega telesa, ki osvobaja napetosti in bolečine, spodbuja krvni obtok in endokrine žleze ter tako izboljšuje tudi delovanje notranjih organov.          </li>
          </ul>

          <ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
              <div style="color:#e83e8c; font-weight:700; font-size: 20px; margin-bottom: 20px">Maserji:</div>
              <li><span class="tema" >Mateja Habjanič</span></li>
              <li><span class="tema" >Žiga Lipar</span></li>
              <li><span class="tema" >Matej Drinovec</span></li>
              <li><span class="tema" >Nadja Kolman</span></li>
              <li><span class="tema" >Daša Žnidaršič</span></li>

            </ul>
   </div>
  </div>

</mat-card>
