agm-map {
    height: 300px;
  }



    .headertext{
      text-align: justify;
       margin-right:20%;
    }



iframe {
  border: 1px solid black;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  }

  b{
    color: #00a7c0;
  }

  mat-icon{
    color:#00a7c0;
  }
