<div id="top" style="position:absolute; top:-150px;"></div>
<mat-card class="card" style="margin-bottom:30px;">

    <div style="display:flex;flex-wrap:wrap">
      <div style="width: 30%; margin-right:5%; padding-top:10px; padding-left: 20px; flex-grow:1; margin-bottom: 100px;">
          <div>
              <div class="header">Kje smo</div>
              <div style="width: 80%;border-bottom: 2px solid black; margin-bottom: 30px; margin-top:5px;"> </div>
          </div>
        <div style="margin-bottom: 50px;margin-top:20px;">
            Nahajamo se v <b>CENTRU IBI, Jelenčeva ulica 1, vhod B4</b><br>
          </div>
          <div>
            <b style="color: #e83e8c;">Kontakt:</b><br><br>
            <span>Mateja Habjanič s.p.<br></span>
            <mat-icon style="font-size: 20px;vertical-align: top;">location_on</mat-icon>Cesta Kokrškega odreda 5, 4000 Kranj<br>
            <mat-icon style="font-size: 20px;vertical-align: top;">phone</mat-icon>068 125 275<br>
            <mat-icon style="font-size: 20px;vertical-align: top;">email</mat-icon>info@matejasport.si<br><br>
            Davčna številka: 97973289<br>
            TRR: SI56 6100 0000 6702 562, odprt pri Delavski hranilnici<br><br>
          </div>
      </div>

          <iframe
          style="flex-grow:1; min-height:400px;min-width: 300px;width:40%; height: auto !important; border-radius: 10px;align-items: flex-end"

          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCf3j4mlSw66wrUhXL1EVzxVN02J93rI2w
            &q=mateja%20%C5%A1port" allowfullscreen>
        </iframe>



    </div>
    </mat-card>
