<div id="top" style="position:absolute; top:-150px;"></div>
<mat-card class="card" style="margin-bottom:30px;z-index: 2;">
  <img class="cardimg">

  <div style="margin-right:5%; padding-top:10px; padding-left: 20px; flex-grow:1; margin-bottom: 30px; flex: 400px">
    <div>
        <div class="header">Rehabilitacija pri bolečinah in poškodbah</div>
        <div style="width: 90%;border-bottom: 2px solid black; margin-bottom: 30px; margin-top:5px;"> </div>
    </div>
    <div class="headertext">
        Danes se vse več rekreativnih in ljubiteljskih športnikov pa tudi neaktivnih ljudi srečuje z bolečinami in poškodbami.
        Najbolj pogoste so poškodbe kolena, hrbta, rame, tetiv in mišic. Pri bolečinah, poškodbah ali celo operaciji
         bi vsi radi čimprej normalno funkcionirali in se vrnili k športnim aktivnostim. Sami in s pomočjo splošnih zdravnikov običajno nimamo dovolj znanja,
          kako se spopasti s težavami. Pri nas imamo za to strokovno usposobljen kader, ki vam bo pomagal do čim hitrejše in čim boljše rehabilitacije.

          <ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
             <div style="color:#e83e8c; font-weight:700; font-size: 20px; margin-bottom: 20px">Nudimo vam:</div>
             <li><span class="tema" >- Pregled in svetovanje</span></li>
             <li><span class="tema" >- Testiranja in meritve</span></li>
             <li><span class="tema" >- Obravnavo miofascialnih bolečinskih (trigger point) točk</span></li>
             <li><span class="tema" >- Terapijo pri bolečinah v hrbtenici</span></li>
             <li><span class="tema" >- Kineziotaping</span></li>
             <li><span class="tema" >- Terapevtsko masažo</span></li>
             <li><span class="tema" >- Individualni program treninga</span></li>
           </ul>

V obravnavo je vključen pregled, na podlagi katerega se potem odločimo za postopke, ki jih bomo uporabili. To so lahko postopki za odpravljanje bolečine (masaža, obravnava trigger point točk, aplikacija kinesiotapinga) ali pa individualno prilagojene vaje za izboljšanje gibljivosti, moči, medmišičnega ravnovesja in funkcionalnega stanja, ki bodo odpravile vzroke bolečine ali poškodbe. Primerno za vse z različnimi težavami skeletno – mišičnega sistema.
<br><br><b>Kinesiotaping</b> predstavlja aplikacijo posebnega elastičnega traku, ki v odvisnosti od načina lepljenja pomaga pri izboljšanju prekrvavitve, propriocepcije, zmanjševanju otekline in podpori mišične funkcije. Uporablja se kot dodatna terapija pri številnih poškodbah in okvarah mišično -skeletnega sistema v rehabilitaciji, pri vrhunskih športnikih in rekreativcih.


       <ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
           <div style="color:#e83e8c; font-weight:700; font-size: 20px; margin-bottom: 20px">Z vami se bomo trudili:</div>
           <li><span class="tema" >FIZIOTERAPEVTI:</span> Matej Drinovec, Žiga Lipar</li>
           <li><span class="tema" >KINEZIOLOGI:</span> Kaja Perne, Žiga Lipar</li>
           <li><span class="tema" >OSEBNI TRENERJI:</span> Mateja Habjanič, Tjaša Bergant, Anita Derlink</li>
         </ul>
         Cena terapevtske obravnave je 35 evrov, na izbiro imate tudi paket 5 ali 10 obravnav, kar seveda zniža ceno, izdelava individualnega programa pa je od 35 do 60 evrov. Ostalo ponudbo si lahko ogledate na našem ceniku.

   </div>
  </div>

</mat-card>

