<div class="row" style="width: 100%;display: inline-block;">
  <button mat-button class="float-right" (click)="activateTermini()" [ngClass]="{'active' : terminiActive, '': !terminiActive}">Razpisani termini</button>
  <button mat-button class="float-right" (click)="activateNovTermin()" [ngClass]="{'active' : novTerminActive, '': !novTerminActive}">Ustvari nov termin</button>
</div>

<div *ngIf="terminiActive">  
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Razpisani termini</mat-card-title>
    </mat-card-header> 
    <div class="container">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title style="font-size: 16px;">Filtriraj termine</mat-card-title>
        </mat-card-header> 
      <div class="row">
        <div class="col-4">
          <mat-form-field style="width: 80%;">
            <mat-label>Filtriraj</mat-label>
            <input matInput (keyup)="applyFilter($event)" autocomplete="off" #input>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field >
            <mat-label>Časovno obdobje</mat-label>
          <input matInput type="text" ngxDaterangepickerMd 
            [ranges]="ranges"  
            readonly  
            [showCustomRangeLabel]="true"
            [alwaysShowCalendars]="true"
            [(ngModel)]="selected"
            (datesUpdated) =prikaziTermine();
            class="form-control"
            size="display: inline-flex;">
          </mat-form-field>
        </div>
        <br>
      </div>
    </mat-card>
    </div>
    <br>
    <table mat-table #outerSort="matSort" [dataSource]="dataSource" matSort  multiTemplateDataRows class="mat-elevation-z8">  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef > ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

              <!-- ID Column -->
              <ng-container matColumnDef="barva">
                <th mat-header-cell *matHeaderCellDef style="width: 1% !important;" ></th>
                <td mat-cell *matCellDef="let row" style="width: 1% !important;"[style.background]="row.barva"> </td>
              </ng-container>
    
        <!-- Naziv Column -->
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Naziv </th>
          <td mat-cell  *matCellDef="let row" [style.background]="row.barva"> {{row.naziv}} </td>
        </ng-container>
    
        <!-- Inštruktor Column -->
        <ng-container matColumnDef="instruktor" >
          <th mat-header-cell *matHeaderCellDef style="width: 12%;" > Inštruktor </th>
          <td mat-cell *matCellDef="let row"> {{row.instruktor}} </td>
        </ng-container>
    
        <!-- Datum Column -->
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%;"> Datum </th>
          <td mat-cell *matCellDef="let row"> {{row.datum| date:'dd.MM.yyyy'}}} </td>
        </ng-container>

          <!-- Od Column -->
          <ng-container matColumnDef="od">
              <th mat-header-cell *matHeaderCellDef > Od -Do </th>
              <td mat-cell *matCellDef="let row"> {{row.od}} - {{row.do}} </td>
          </ng-container>

          <!-- Do Column -->
          <ng-container matColumnDef="do">
              <th mat-header-cell *matHeaderCellDef > Do </th>
              <td mat-cell *matCellDef="let row"> {{row.do}} </td>
          </ng-container>

          <!-- Zasedenost Column -->
          <ng-container matColumnDef="zasedenost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Zasedenost </th>
              <td mat-cell *matCellDef="let row"> {{row.zasedenost}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="akcije">Termin</th>
                  <td mat-cell *matCellDef="let row" >
                    <div  *ngIf="row.status != 'odpovedan'">
                      <button mat-button style="margin-right:2rem;"(click)="openEditDialog(row);"><mat-icon style="color: #e7e410; cursor: pointer; font-size: 1.35rem;">create</mat-icon>Uredi</button>
                      <button mat-button style="margin-right:2rem;" (click)="odpovejTermin(row.id);" ><mat-icon style="color: red; cursor: pointer; font-size: 1.35rem;">cancel</mat-icon>Odpovej</button>
                    </div>
                    <div  *ngIf="row.status == 'odpovedan'" style="font-size:large; color: red; font-weight:600;font-family: monospace;">
                       ODPOVEDAN
                    </div>
                  </td>
          </ng-container>
          <ng-container matColumnDef="barva1">
            <th mat-header-cell *matHeaderCellDef style="width: 1% !important;" ></th>
            <td mat-cell *matCellDef="let row" style="width: 1% !important;"[style.background]="row.barva"> </td>
          </ng-container>
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [style.background]="element.barva" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
              <table #innerTables mat-table #innerSort="matSort" [dataSource]="element.prijave" matSort>
                      <!-- Ime Column -->
                <ng-container matColumnDef="ime">
                  <th mat-header-cell *matHeaderCellDef > Ime in Priimek </th>
                  <td mat-cell *matCellDef="let row"> {{row.ime}} {{row.priimek}}  </td>
                </ng-container>
            
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>

                <!-- Telefon Column -->
                <ng-container matColumnDef="telefon">
                  <th mat-header-cell *matHeaderCellDef> Telefon </th>
                  <td mat-cell *matCellDef="let row"> {{row.telefon}} </td>
                </ng-container>
                  <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef class="akcije"><button mat-button style="margin-right:2rem;" (click)="openAddUserDialog(element)" ><mat-icon style="color: #e83e8c; cursor: pointer; font-size: 1.35rem;">person_add</mat-icon>Prijavi uporabnika</button>
                      </th>
                          <td mat-cell *matCellDef="let row">
                              <button mat-button style="margin-right:2rem;" *ngIf="row.Id" (click)="odjaviUporabnika(row.Id)" ><mat-icon style="color: red; cursor: pointer; font-size: 1.35rem;">not_interested</mat-icon>Odjavi</button>
                              <p *ngIf="!row.Id">Ni prijav</p>
                          </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [class.example-element-row]="element.prijave?.data.length"
      [class.example-expanded-row]="expandedElement === element" (click)="toggleRow(element)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50, 100]">
  </mat-paginator>
</mat-card>
</div>
<div *ngIf="novTerminActive">
  <app-razps-termina></app-razps-termina>
</div>