<h1 mat-dialog-title>Prijava</h1>
<div mat-dialog-content class="mobile-width">
  <mat-form-field class="mobile-width">
    <input matInput  placeholder="Uporabniško ime" type="text" [(ngModel)]="user">
  </mat-form-field>
  <br>
  <mat-form-field class="mobile-width">
    <input matInput placeholder="Geslo"  type="password" [(ngModel)]="password">
  </mat-form-field>
  <div [hidden]="!show" style="color:red; font-size: 10px">Napačno uporabniško ime ali geslo!</div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Prekliči</button>
  <button mat-button cdkFocusInitial (click)="onOkClick()">Ok</button>
</div>