  @media only screen and (max-width: 600px) {
    .mobile-width {
        width: 100% !important;
      }
  }
  .registracija {
    font-size: 1rem !important;
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: black !important;;
  }

  ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-label {
    color: black;
  }

  .mat-stroked-button{border:1px solid currentColor;line-height:54px;background:#FFF7FA;margin: 1rem 0;}
  .btn-block{width:100%;}

  .mat-dialog-title{font-size: 30px;padding: 0.5rem 0 1rem;}
  :host .login-wrapper{text-align: center;}

  .login-wrapper{min-width:100%;max-width:300px;width:100%;}

  .example-full-width{width: 90%;}

  .close-btn{
    position:absolute; top:-20px; right:-17px; color: lightcoral;
  }